<body>
    
    <div class="wrapper fadeInDown">
    
        <div id="formContent">
          <!-- Tabs Titles -->
      
          <!-- Icon -->
          <div class="fadeIn first">
            <img src="../../../assets/images/logo1.png" id="icon" alt="User Icon" />
          </div>
          
          <!-- Login Form -->
          <form (ngSubmit)="onSubmit()"  [formGroup] = "form">
            <div id="nombreEmail">
              <div id="email">
              <p>{{nombreEmail}}</p>
              </div>
            </div>
            <div><p>Ingrese el token enviado al email y la nueva password</p></div>
    
            <div class="form-group">
              <input type="text" id="token-pass" class="fadeIn second form-control " name="token-pass" placeholder="Token" 
              formControlName="inputToken" [(ngModel)]="selectednewpassword.token"
              [ngClass]="{ 'is-invalid': (form.get('inputToken')?.touched || form.get('inputToken')?.dirty) && !form.get('inputToken')?.valid}">
              
              <div class="invalid-feedback">
                Ingresa un Token correcto.
              </div>
            </div>
            <div class="form-group">
              <input type="password" id="password1" class="fadeIn second form-control " name="passowrd1" placeholder="Nueva Password"  
              formControlName="inputPassword1" [(ngModel)]="selectednewpassword.newpassword"
              [ngClass]="{ 'is-invalid': (form.get('inputPassword1')?.touched || form.get('inputPassword1')?.dirty) && !form.get('inputPassword1')?.valid}">
              
              <div class="invalid-feedback">
                <span *ngIf = "form.get('inputPassword1').errors?.required">
                  Introduzca un password
                </span>
                <span *ngIf = "form.get('inputPassword1').errors?.pattern">
                  Debe contener al menos 8 caracteres alfanumericos y una mayuscula, sin espacios en blanco
                </span>
              </div>
            </div>
             
            <div class="form-group">
              <input type="password" id="password2" class="fadeIn third form-control" name="password2" placeholder="Repetir Password" 
              formControlName="inputPassword2" [ngClass]="{ 'is-invalid': (form.get('inputPassword2')?.touched || form.get('inputPassword2')?.dirty) && !form.get('inputPassword2')?.valid}">

              <div class="invalid-feedback">
                <span *ngIf = "form.get('inputPassword2').errors?.required">
                  Introduzca un password
                </span>
                <span *ngIf = "form.get('inputPassword2').errors?.pattern">
                  Debe contener al menos 8 caracteres alfanumericos y una mayuscula, sin espacios en blanco
                </span>
              </div>
            </div>


            <input type="submit"  id="btnAceptar" class="fadeIn fourth" value="ACEPTAR" [disabled] = "form.invalid">
      
          
            <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="tokenExpirado">
                {{errorMessage}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div> 
            <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="passwordsDistintas">
              {{errorMessage}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
<!--
          <div class="modal fade" id="ventanaModal" tabindex="-1" role="dialog" aria-labelledby="tituloVentana" aria-hidden="true" *ngIf="cambioExitoso">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 id= "tituloVentana">Cambio de Password</h5>
                  <button class= "close" data-dismiss="modal" aria-label="Cerrar"></button>
                  <span aria-hidden="true">&times;</span>
                </div>
                <div class="modal-body">
                  <div class="alert alert-success">
                    <h6><strong>Password modificada exitosamente</strong></h6>
                  </div>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-primary" type="button" data-dismiss="modal">ACEPTAR</button>
                </div>
              </div>
            </div>
          </div>
        -->
            </form>
            <div><button id ="btnRegresar" class="btn btn-primary" title="Regresar" (click)="regresarclick()"></button></div>
        </div>
    </div>
    </body>
