@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dynalight&family=Seaweed+Script&display=swap');

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
.contenedor{
    width: 100%;
    height: auto;
    /*background-color: aqua;*/
    
}
.menu{
    margin-top: 2rem;
    width: 100%;
    height: 100%;
    margin-bottom: 1rem;
    border-bottom: none;
}
.contenido{
    width: 100%;
   /*background-color: blue;*/
}
.navvar{
    position: relative;
    height: 15vh;
    width: 100%;
    /*border-bottom: 1px solid rgb(224, 218, 218);*/
}
#logo{
    margin-top: 0px;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

  }

  #logo img{
      width: 10rem;
      max-width: 15rem;
      margin-top: 0px;

  }

#navegacion{
    height: 100%;
    width: 100%;
    text-align: center;
}
#navegacion p{
    color:black;
    font-family: 'Dynalight';
    font-size: 4rem;
    
}


#nombreUsuario{
    position: relative;
    float: left;
    width: 70%;
    height: 70%;
}

#nombreUsuario #nombre{
    position: absolute;
  width: auto;
  bottom: 0;
  right: 0;
  border-bottom: 1px solid #EB5600;
}

#nombreUsuario #nombre p{
 font-size: 1.3rem;
 font-family: Arial, Helvetica, sans-serif;
}

#fotoUsuario{
    position: relative;
    width: 30%;
    height: 100%;
    float: right;
}
#img-usuario{
    position: absolute;
    top: 0;
    width: auto;
    height: 70%;
    max-width: 7rem;
    max-height: 7rem;
    image-rendering:optimizeQuality;
    border-radius: 50%;
    border: 1px solid  #EB5600;
}
img{
    position: absolute;
    bottom: 0;
    width: auto;
    height: 100%;
    max-width: 7rem;
    max-height: 7rem;
    image-rendering:optimizeQuality;
 
}



.componentes{
    padding-top: 2rem;
    height: auto;
}


/*RESPONSIVE*/
/*resolucion para movil*/
@media(max-width: 575px){
    .menu{
        float: none;
        width: auto;
        height: auto;
      
    }
    .contenido{
        margin-top: 0px;
        float: none;
        width: auto;
        height: auto;
    }
    #logo{
    }
    #navegacion{
     display: none;
      
    }
    #nombreUsuario{ 
        padding-right: 1rem; 
    }
    #nombreUsuario #nombre{ 
        padding-right: 1rem; 
    }
    .navvar{
       /*display: none;*/
    }

    #fotoUsuario{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }


}

/*resolucion para TABLETS*/
@media(min-width: 575px) and (max-width: 768px){
    .menu{
        width: 100%;
      
    }
    .contenido{
        float:left;
        width: 100%;
    }

    #navegacion{
        display: none;
      
    }

    #nombreUsuario{
        width: 70%;
         
    }

    }
/*RESOLUCION NOTEBOOKS*/
@media(min-width: 768px) and (max-width: 991px){
    .menu{
        width: 100%;
      
    }
    .contenido{
        float:left;
        width: 100%;
       /*background-color: blue;*/
    }

    #navegacion{
       width: 100% ;
       height: 100%;
       font-size: 3rem;
      
    }

    #nombreUsuario{
        width: 70%;    
    }
        
}
/*RESOLUCION PANTALLAS GRANDES*/
@media(min-width: 991px){
    .menu{
        width: 100%;
      
    }
    .contenido{
        float:left;
        width: 100%;
       /*background-color: blue;*/
    }

    #navegacion{
       width: 100% ;
       height: 100%;
       font-size: 3rem;
      
    }

    #nombreUsuario{
        width: 85%;    
    }
    #fotoUsuario{
        position: relative;
        width: 15%;
        height: 100%;
        float: right;

    }
    img{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        max-width: 7rem;
        max-height: 7rem;
        image-rendering:optimizeQuality;
    }
        
}
