<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="contenedor">
        <div class="menu">
            <app-navbar></app-navbar>
        </div>
        <div class="contenido">
            <div class="navvar">
                <div id="navegacion">Bienvenido</div>
                    <div id="nombreUsuario">
                        <div id="nombre">
                        <p>{{nombreUsuario}}</p>
                        </div>
                    </div>
                    <div id="fotoUsuario">
                    </div>
            </div>
            <div class="componentes">
                <app-inicio></app-inicio>
            </div>
        </div>
    </div>

</body>
</html>

