<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="index.component.css">
  
  <title>'Clip Money'</title>
</head>
<body>
  <div class="container">
    <!--<app-cliente></app-cliente>-->
  </div>
  <div class="contenedor">
    
    <div class="cont-log-reg">
      <div class="contenedor-logo-titulo">
      <div class="logo">
        
      </div>
      <div class="titulo">
      </div>
    </div>
    <div class="row">  
      <div class="descripcion col-12">
          <h3>Bienvenidos a una nueva era en el manejo del dinero</h3>
      </div>
      <div class="link-clip col-12">
        <a href="https://www.cba.gov.ar/programaclip/">Conocé Más></a>
      </div>
      
    </div>
      <div class=" registro-login col-sm-12">
        <div class="row">
          <div class="col-sm-12 text-center" >
            <form class="formulario col-12" action="">
              <div class="form-group">
                <label class="label label-default" for="">¿Ya sos Usuario?</label>
                <br>
                <button class="btnIngresar btn btn-success btn-block" routerLink= "login">Ingresar Ahora</button>
              </div>
              <div class="form-group">
                <label class="label label-default" for="">Si todavia no sos Usuario</label>
                <br>
                <button class="btnRegistrar btn btn-success btn-block" routerLink = "cliente">Registrarse Ahora</button>
              </div>
            </form>
          </div>
         
        </div>
    </div>

    <div class="info-adicional">
      <p>La Nueva Billetera Virtual</p>
    </div>
    </div>
    
    <div class=" contenido container-fluid">
    </div>
    
  </div>



</body>
</html>
