<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">

<div class="row" id="sidebar-container">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <!--<div class="logo">
    </div>-->
    <nav class="menu  navbar-expand-sm  navbar-light">
     
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarNav" aria-expanded="false" aria-label="Toggle navigation" aria-controls="navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav text-center">
          <li class="nav-item underlineHover"><a id="index-activo" class="nav-link" routerLink="/home/inicio"><i class="fas fa-home"></i> Inicio</a></li>
          <li class="nav-item underlineHover"><a class="nav-link " routerLink="/home/cuentas"><i class="fas fa-folder"></i> Cuentas</a></li>
          <li class="nav-item underlineHover"><a class="nav-link "><i class="fas fa-credit-card"></i> Tarjetas</a></li>
          <li class="nav-item underlineHover"><a class="nav-link "><i class="fas fa-file-invoice-dollar"></i> Pagos</a></li>
          <li class="nav-item underlineHover"><a class="nav-link "><i class="fas fa-exchange-alt"></i> Operaciones</a></li>
          <li class="nav-item underlineHover"><a class="nav-link" (click)="perfil()"><i class="fas fa-user"></i> Perfil</a></li>
          <li class="nav-item underlineHover"><a class="nav-link btn-cerrar-sesion" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>
