<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
<!--<div class="d-flex">
  <div id="sidebar-container" class="">
    <div class="logo">
    </div>
    <div class="menu">
      <a href="" class="d-block p-3">Inicio</a>
      <a href="" class="d-block p-3">Cuentas</a>
      <a href="" class="d-block p-3">Tarjetas</a>
      <a href="" class="d-block p-3">Movimientos</a>
      <a href="" class="d-block p-3">Transferencias</a>
      <a href="" class="d-block p-3">Extracciones</a>
      <a href="" class="d-block p-3">Perfil</a>
      <a href="" class="d-block p-3">Cerrar Sesión</a>
    </div>
    <div>
    
  </div>
</div>-->
<div class="row" id="sidebar-container">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    
    <nav class="menu  navbar-expand-sm  navbar-light">
      <div class="logo">
      </div>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarNav" aria-expanded="false" aria-label="Toggle navigation" aria-controls="navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav text-center">
          <li class="nav-item"><a id="index-activo"  class="nav-link">Inicio</a></li>
          <li class="nav-item"><a class="nav-link ">Cuentas</a></li>
          <li class="nav-item"><a class="nav-link ">Tarjetas</a></li>
          <li class="nav-item"><a class="nav-link ">Movimientos</a></li>
          <li class="nav-item"><a class="nav-link ">Transferencias</a></li>
          <li class="nav-item"><a class="nav-link ">Extracciones</a></li>
          <li class="nav-item"><a class="nav-link">Perfil</a></li>
          <li class="nav-item"><a class="nav-link btn-cerrar-sesion">Cerrar Sesión</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>
