<div class="container">
    <h2>Operaciones</h2>

    <div class="card shadow ">
        <h6 class="texto-seleccion card-header font-weight-bold">Seleccione la operación que desea realizar</h6>
        <div class="card-body">
            <div class="row">
                <div class="contenedor-operaciones col">
                    <button type="button" (click)="habilitarDeposito()" class="btn-ope btn btn-light" ><i class="fas fa-dollar-sign"></i> Ingresar Dinero</button>
                </div>
                <div class=" contenedor-operaciones col">
                    <button type="button" (click)="habilitarExtraccion()" class="btn-ope btn btn-light" ><i class="fas fa-hand-holding-usd"></i> Retirar Dinero</button>
                </div>
            </div>
            
            <!-- Seccion para el deposito de dinero en cuenta de usuario -->
            <div class="card shadow" style="margin-top: 25px;" *ngIf="seccionDeposito">
                <h6 class=" texto-ingreso card-header">Ingreso de dinero a mi cuenta</h6>
                <div class="card-body">
                    <form  style="margin-inline: 25%;" (ngSubmit)="depositar()">
                        <div class="form-group">
                            <label for="cuenta_virtual">Seleccione la cuenta a la que va a depositar</label>
                            <select class="form-control" [(ngModel)]="form.cuenta" name="cuenta">
                                <option *ngFor="let cuenta of cuentasDelCliente" [ngValue]="cuenta">{{cuenta.IdTipoCuenta.Nombre}} {{cuenta.NroCuenta}} - Saldo: {{cuenta.Saldo}}</option>
                            </select>
                        </div>
                        
                        <div class="form-group">
                            <label for="monto">Ingrese el monto que desea depositar:</label>
                            <input type="number" class="form-control" name="monto" [(ngModel)]="form.monto"  required autocomplete="off">
                        </div>

                        <div class="form-group">
                            <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="isOperationFailed">
                                <strong><i class="fas fa-times"></i> ¡Error!</strong> {{mensaje}}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="isOperationOK">
                                <strong><i class="fas fa-check"></i> ¡Enhorabuena!</strong> {{mensaje}}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                        </div>

                        <div class="form-group" style="text-align: right;margin-top: 30px;">
                            <button type="submit" class="btn btn-outline-success btn-block"><i class="fas fa-check"></i> Confirmar</button>
                        </div>
                    </form>
                </div>
            </div>
            
            <!-- Seccion para retirar dinero de una cuenta de usuario -->
            <div class="card shadow" style="margin-top: 25px;" *ngIf="seccionExtraccion">
                <h6 class=" texto-retiro card-header">Retiro de dinero de mi cuenta</h6>

                <div class="card-body">
                    <form  style="margin-inline: 25%;" (ngSubmit)="extraer()">
                        <div class="form-group">
                            <label for="cuenta_virtual">Seleccione la cuenta a la que va a extraer dinero:</label>
                            <select class="form-control" [(ngModel)]="form.cuenta" name="cuenta">
                                <option *ngFor="let cuenta of cuentasDelCliente" [ngValue]="cuenta">{{cuenta.IdTipoCuenta.Nombre}} {{cuenta.NroCuenta}} - Saldo: {{cuenta.Saldo}}</option>
                            </select>
                        </div>
                        
                        <div class="form-group">
                            <label for="monto">Ingrese el monto que desea extraer:</label>
                            <input type="number" class="form-control" name="monto" [(ngModel)]="form.monto"  required autocomplete="off">
                        </div>

                        <div class="form-group">
                            <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="isOperationFailed">
                                <strong><i class="fas fa-times"></i> ¡Error!</strong> {{mensaje}}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="isOperationOK">
                                <strong><i class="fas fa-check"></i> ¡Enhorabuena!</strong> {{mensaje}}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                        </div>

                        <div class="form-group" style="text-align: right;margin-top: 30px;">
                            <button type="submit" class="btn btn-outline-success btn-block"><i class="fas fa-check"></i> Confirmar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>         


