<body>
    <div class="wrapper fadeInDown">

        <div id="formContent">

            <div class="fadeIn first">
                <img src="../../../assets/images/logo1.png" id="icon" alt="User Icon" />
            </div>

            <form novalidate (ngSubmit)="Submit()" #f="ngForm">
                <div class="form-group">
                    <div class="form-group">
                        <input type="text" [(ngModel)]="selectedCliente.Nombre" name="Nombre" placeholder="Nombre" class="form-control fadeIn"
                        pattern="^[A-Za-zÑñÁáÉéÍíÓóÚúÜü\s]+$" required>

                    </div>

                    <div class="form-group">
                        
                        <input type="text" [(ngModel)]="selectedCliente.Apellido" 
                            name="Apellido"placeholder="Apellido"
                            class="form-control fadeIn" pattern="^[A-Za-zÑñÁáÉéÍíÓóÚúÜü\s]+$" required>
                    </div>

                    <div class="form-group">
                        
                        <input type="date" [(ngModel)]="selectedCliente.FechaNacimiento"
                            
                            name="FechaNacimiento " class="form-control fadeIn"required >
                    </div>
                    <div class="form-group">
                        
                        <input type="text" [(ngModel)]="selectedCliente.NumDni" 
                            name="NumDni" placeholder="Introduzca su DNI" pattern="[0-9]{8}" class="form-control fadeIn"
                            required>
                    </div>
                    <div class="form-group">
                        
                        <input type="email" [(ngModel)]="selectedCliente.Email" 
                            name="Email" placeholder="Escribe su email"
                            class="form-control fadeIn"
                            pattern="^[a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,15})$" required>
                    </div>
                    <div class="form-group">
                        
                        <input type="text" [(ngModel)]="selectedCliente.NombreUsuario"
                             placeholder="Nombre de usuario"
                             name="NombreUsuario" class="form-control fadeIn" required>
                    </div>
                    <div class="form-group">
                        
                        <input type="password" [(ngModel)]="selectedCliente.Password"
                            name="Password"
                            placeholder="Password" class="form-control fadeIn" 
                            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Tiene que ser de 8 digitos como minimo, contener numeros, 1 letra Mayuscula y 1 en Minuscula"minlength="8" required>
                    </div>
                    <div class= "row">
                        <div class="col">
                            <button class=" btn btn-primary btnRegistrarse"(click)="regresarclick()"
                        >Regresar</button>
                        </div>
                        <div class="col">
                            <button class=" btn btn-primary btnRegistrarse"
                        (click)="onSubmit(selectedCliente)"  [disabled]="f.invalid">Registrarse</button>
                        </div>
                        
                        
                    </div>

                  
                    


                </div>
            </form>
        </div>
    </div>

</body>