<body>
    <div class="wrapper fadeInDown">

        <div id="formContent">

            <div class="fadeIn first">
                <img src="../../../assets/images/logo1.png" id="icon" alt="User Icon" />
            </div>

            <form (ngSubmit)="onSubmit(selectedCliente)" [formGroup] = "form">
               
                <div class="row">
                  <!--PRIMERA COLUMNA DE CAMPOS-->
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 borde">
                      <div class="form-group">
                          <label class="form-control" for="nombre">Nombre</label>
                          <input type="text" id="nombre" class="form-control fadeIn" 
                          formControlName = "nombre" [(ngModel)]="selectedCliente.Nombre"
                          [ngClass]="{ 'is-invalid': (form.get('nombre')?.touched || form.get('nombre')?.dirty) && !form.get('nombre')?.valid}">
                          
                          <div class="invalid-feedback">
                              <span *ngIf = "form.get('nombre').errors?.required">
                                Introduzca un Nombre
                              </span>
                              <span *ngIf = "form.get('nombre').errors?.pattern">
                                Debe contener al menos 2 caracteres  
                              </span>
                          </div>
                      </div>

                    
                      <div class="form-group">
                          <label class="form-control" for="apellido">Apellido</label>
                          <input type="text" class="form-control fadeIn" 
                          formControlName = "apellido" [(ngModel)]="selectedCliente.Apellido"
                          [ngClass]="{ 'is-invalid': (form.get('apellido')?.touched || form.get('apellido')?.dirty) && !form.get('apellido')?.valid}">
                      
                          <div class="invalid-feedback">
                              <span *ngIf = "form.get('apellido').errors?.required">
                                Introduzca un Apellido
                              </span>
                              <span *ngIf = "form.get('apellido').errors?.pattern">
                                Debe contener al menos 2 caracteres  
                              </span>
                          </div>
                      
                      </div>
                      
                      <div class="form-group">
                        <label class="form-control" for="sexo">Sexo</label>
                        <select class= "form-control fadeIn"  [(ngModel)] = "selectedCliente.Sexo" formControlName = "sexo"
                        [ngClass]="{ 'is-invalid': (form.get('sexo')?.touched || form.get('sexo')?.dirty) && !form.get('sexo')?.valid}">
                          <option value="Masculino">Masculino</option>
                          <option value="Femenino">Femenino</option>
                        </select>
                       
                        <div class="invalid-feedback">
                          <span *ngIf = "form.get('sexo').errors?.required">
                            Seleccione el sexo
                          </span>
                      </div>

            
                       </div>

                    
                      <div class="form-group">
                          <label class="form-control" for="fechaNac">Fecha de Nacimiento</label>
                          <input type="date" class="form-control fadeIn"  title="Fecha de Nacimiento" [(ngModel)]="selectedCliente.FechaNacimiento" formControlName= "fechaNac"
                          [ngClass]="{ 'is-invalid': form.get('fechaNac')?.touched && !form.get('fechaNac')?.valid}">

                          <div class="invalid-feedback">
                              <span *ngIf = "form.get('fechaNac').errors?.required">
                                Introduzca una Fecha de Nacimiento
                              </span>
                          </div>
                  
                      </div>
                    </div>
                    <!--SEGUNDA COLUMNA DE CAMPOS-->
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 borde">      
                      <div class="form-group">
                        <label class="form-control" for="tipodni">Tipo Dni</label>
                        <select class= "form-control fadeIn" [(ngModel)]="selectedCliente.IdTipoDni"  formControlName = "tipodni" 
                        [ngClass]="{ 'is-invalid': (form.get('tipodni')?.touched || form.get('tipodni')?.dirty) && !form.get('tipodni')?.valid}">
                          <option *ngFor ="let tipodni of tipoDni" value={{tipodni.id}}>{{tipodni.nombre_dni}}</option>
                        </select>
                       
                        <div class="invalid-feedback">
                          <span *ngIf = "form.get('tipodni').errors?.required">
                            Seleccione un tipo de dni
                          </span>
                      </div>



                       </div>
                      
                      <div class="form-group">
                          <label class="form-control" for="numDni">Dni</label>
                          <input type="text" class="form-control fadeIn" 
                          [(ngModel)]="selectedCliente.NumDni" formControlName = "numDni"
                          [ngClass]="{ 'is-invalid': (form.get('numDni')?.touched || form.get('numDni')?.dirty) && !form.get('numDni')?.valid}">
                      
                      
                          <div class="invalid-feedback">
                              <span *ngIf = "form.get('numDni').errors?.required">
                                Introduzca un DNI
                              </span>
                              <span *ngIf = "form.get('numDni').errors?.pattern">
                                Debe contener al menos 7 caracteres Numericos, sin espacios en blanco 
                              </span>
                          </div>
                        
                      </div>

                      <div class="form-group">
                        <label class="form-control" for="email">Email</label> 
                        <input type="email" [(ngModel)]="selectedCliente.Email" 
                        class="form-control fadeIn" formControlName = "email"   
                        [ngClass]="{ 'is-invalid': (form.get('email')?.touched || form.get('email')?.dirty) && !form.get('email')?.valid}">
                    
                        <div class="invalid-feedback">
                            <span *ngIf = "form.get('email').errors?.required">
                              Introduzca un Email
                            </span>
                            <span *ngIf = "form.get('email').errors?.pattern">
                              Ingresa un formato correcto, ejemplo@ejemplo.com  
                            </span>
                        </div>
                      
                      </div>

                      <div class="form-group">
                        <label class="form-control" for="telefono">Telefono</label>   
                        <input type="text" [(ngModel)]="selectedCliente.Telefono" 
                        class="form-control fadeIn" formControlName = "telefono"   
                        [ngClass]="{ 'is-invalid': (form.get('telefono')?.touched || form.get('telefono')?.dirty) && !form.get('telefono')?.valid}">
                    
                        <div class="invalid-feedback">
                            <span *ngIf = "form.get('telefono').errors?.required">
                              Introduzca un Telefono
                            </span>
                            <span *ngIf = "form.get('telefono').errors?.pattern">
                              Ingrese los 10 digitos numericos sin el prefijo
                            </span>
                        </div>
                    
                      </div>

                    </div>
                    
                    <!--TERCERA COLUMNA DE CAMPOS-->
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 borde">
                      

                      <div class="form-group">
                      <label class="form-control" for="pais">Pais</label>  
                       <select class= "form-control fadeIn" [(ngModel)] = "selectedPais.id" formControlName= "pais" (change) = "onSelectPais($event.target.value)"
                       [ngClass]="{ 'is-invalid': (form.get('pais')?.touched || form.get('pais')?.dirty) && !form.get('pais')?.valid}" > 
                        <option *ngFor ="let pais of paises" value={{pais.id}}>{{pais.nombre}}</option>
                       </select>
                      
                        <div class="invalid-feedback">
                        <span *ngIf = "form.get('pais').errors?.required">
                          Seleccione un pais
                        </span>
                        </div>

                      </div>

                      <div class="form-group">
                        <label class="form-control" for="provinvia">Provincia</label>
                        <select class= "form-control fadeIn" [(ngModel)] = "selectedProv.id" formControlName= "provincia" (change) = "onSelectProv($event.target.value)"
                        [ngClass]="{ 'is-invalid': (form.get('provincia')?.touched || form.get('provincia')?.dirty) && !form.get('provincia')?.valid}" >
                          <option *ngFor="let provincia of provinciasAux" value={{provincia.id}}>{{provincia.nombre}}</option>
                        </select>
                       
                        <div class="invalid-feedback">
                          <span *ngIf = "form.get('provincia').errors?.required">
                            Seleccione una provincia
                          </span>
                        </div>

                      </div>

                       <div class="form-group">
                        <label class="form-control" for="localidad">Localidad</label> 
                        <select class= "form-control" [(ngModel)] = "selectedCliente.IdLocalidad" formControlName= "localidad"
                        [ngClass]="{ 'is-invalid': (form.get('localidad')?.touched || form.get('localidad')?.dirty) && !form.get('localidad')?.valid}" >
                          <option *ngFor="let localidades of localidadesAux" value={{localidades.id}}>{{localidades.nombre}}</option>
                        </select>
                       
                        <div class="invalid-feedback">
                          <span *ngIf = "form.get('localidad').errors?.required">
                            Seleccione una localidad
                          </span>
                          </div>


                       </div>


                       <div class="form-group">
                        <label class="form-control" for="domicilio">Domicilio</label> 
                        <input type="text" [(ngModel)]="selectedCliente.Domicilio" 
                        class="form-control fadeIn" formControlName = "domicilio"   
                        [ngClass]="{ 'is-invalid': (form.get('domicilio')?.touched || form.get('domicilio')?.dirty) && !form.get('domicilio')?.valid}">
                    
                        <div class="invalid-feedback">
                            <span *ngIf = "form.get('domicilio').errors?.required">
                              Introduzca un Domicilio
                            </span>
                            <span *ngIf = "form.get('domicilio').errors?.pattern">
                              Ingresa solo caracters alfanumericos, longitud maxima 50  
                            </span>
                        </div>
                      
                        </div>
                    
                    </div>
                      <!--CUARTA COLUMNA DE CAMPOS-->
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 borde">                
                      <div class="form-group">
                          <label class="form-control" for="usuario">Nombre Usuario</label>
                          <input type="text" [(ngModel)]="selectedCliente.NombreUsuario"  
                          class="form-control fadeIn" formControlName = "usuario"
                          [ngClass]="{ 'is-invalid': (form.get('usuario')?.touched || form.get('usuario')?.dirty) && !form.get('usuario')?.valid}">
                    
                          <div class="invalid-feedback">
                              <span *ngIf = "form.get('usuario').errors?.required">
                                Introduzca un Usuario
                              </span>
                              <span *ngIf = "form.get('usuario').errors?.pattern">
                                Debe contener al menos 5 caracteres Alfanumericos, sin espacios en blanco 
                              </span>
                          </div>
                            
                      </div>
                      
                      
                      
                      <div class="form-group">
                          <label class="form-control" for="password">Password</label>
                          <input type="password" class="form-control fadeIn"  
                          formControlName = "password" [(ngModel)]="selectedCliente.Password"
                          [ngClass]="{ 'is-invalid': (form.get('password')?.touched || form.get('password')?.dirty) && !form.get('password')?.valid}">
                      
                          <div class="invalid-feedback">
                              <span *ngIf = "form.get('password').errors?.required">
                                Introduzca un password
                              </span>
                              <span *ngIf = "form.get('password').errors?.pattern">
                                Debe contener al menos 8 caracteres alfanumericos y una mayuscula, sin espacios en blanco
                              </span>
                            </div>

                      </div>

                      <div class="form-group">
                          <label class="form-control" for="passwordRepeat">Repetir Password</label>
                          <input type="password" class="form-control fadeIn"  
                          formControlName = "passwordRepeat"
                          [ngClass]="{ 'is-invalid': (form.get('passwordRepeat')?.touched || form.get('passwordRepeat')?.dirty) && !form.get('passwordRepeat')?.valid}">
                      
                          <div class="invalid-feedback">
                              <span *ngIf = "form.get('passwordRepeat').errors?.required">
                                Introduzca un password
                              </span>
                              <span *ngIf = "form.get('passwordRepeat').errors?.pattern">
                                Debe contener al menos 8 caracteres alfanumericos y una mayuscula, sin espacios en blanco
                              </span>
                            </div>


                      </div>

                      <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="isCreateFailed">
                        {{message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click) = "resetAlert()">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div> 
                      <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="passwordsDistintas">
                        {{message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click) = "resetAlert()">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                    </div>

                    <div class="col-md-12">
                      <button class=" btn btn-primary btnRegistrarse" [disabled]="form.invalid">Registrarse</button>
                    </div>
                        
                    
                </div>            
            </form>
            <button id= "btnRegresar" title="Regresar" class=" btn btn-primary"(click)="regresarclick()"></button>
        </div>
        
    </div>
</body>