<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
<body>
    <div class="wrapper fadeInDown">

        <div id="formContent">

            <div class="fadeIn first">
                <img [src]="selectedCliente.SelfieCliente" id="icon" alt="User Icon"/>
            </div>


            <form (ngSubmit)="onSubmit(selectedModificarPass)" [formGroup] = "form">
               
              <div class="row">   
                
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 contenedor-form">
                    <div class="form-group">
                        <label class="form-control" for="actualpassword">Password Actual</label>
                        <input type="password" class="form-control fadeIn"  
                        formControlName = "actualpassword" [(ngModel)]="selectedModificarPass.passwordActual"
                        [ngClass]="{ 'is-invalid': (form.get('actualpassword')?.touched || form.get('actualpassword')?.dirty) && !form.get('actualpassword')?.valid}">
                    
                        <div class="invalid-feedback">
                            <span *ngIf = "form.get('actualpassword').errors?.required">
                              Introduzca el password actual
                            </span>
                            <span *ngIf = "form.get('actualpassword').errors?.pattern">
                              Debe contener al menos 8 caracteres alfanumericos y una mayuscula, sin espacios en blanco
                            </span>
                        </div>

                    </div>
                
                    <div class="form-group">
                        <label class="form-control" for="password">Password</label>
                        <input type="password" class="form-control fadeIn"  
                        formControlName = "password" [(ngModel)]="selectedModificarPass.passwordNueva"
                        [ngClass]="{ 'is-invalid': (form.get('password')?.touched || form.get('password')?.dirty) && !form.get('password')?.valid}">
                    
                        <div class="invalid-feedback">
                            <span *ngIf = "form.get('password').errors?.required">
                              Introduzca un password
                            </span>
                            <span *ngIf = "form.get('password').errors?.pattern">
                              Debe contener al menos 8 caracteres alfanumericos y una mayuscula, sin espacios en blanco
                            </span>
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="form-control" for="passwordRepeat">Repetir Password</label>
                        <input type="password" class="form-control fadeIn"  
                        formControlName = "passwordRepeat"
                        [ngClass]="{ 'is-invalid': (form.get('passwordRepeat')?.touched || form.get('passwordRepeat')?.dirty) && !form.get('passwordRepeat')?.valid}">
                    
                        <div class="invalid-feedback">
                            <span *ngIf = "form.get('passwordRepeat').errors?.required">
                              Introduzca un password
                            </span>
                            <span *ngIf = "form.get('passwordRepeat').errors?.pattern">
                              Debe contener al menos 8 caracteres alfanumericos y una mayuscula, sin espacios en blanco
                            </span>
                          </div>


                    </div>
                </div>
                  <div class="col-md-12">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="isCreateFailed">
                      {{message}}
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click) = "resetAlert()">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>

                    <button class="btn btn-primary btnModificar" >Modificar</button>
                  </div>
                  
              </div>
            </form>
            <button id= "btnRegresar" title="Regresar" class="btn btn-primary" routerLink = "/home/cliente/obtener"></button>
        </div>
        
    </div>
</body>
